.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.header {
  padding: 15px 0;
}

.nav-link {
  font-weight: 600;
  font-size: 19px;
  margin-right: 20px;
  text-decoration: none;
  color: #e6e7e6;
  opacity: .8;
}

.nav-link--active {
  color: #fff;
  opacity: 1;
}

.search-bar {
  display: inline-flex;
  padding: 40px;
  border-radius: 20px;
  background-color: #4c5b65;
}

.search-bar input {
  width: 280px;
  max-width: 99%;
  padding: 5px 20px;
  height: 34px;
  border-radius: 10px;
  margin-right: 5px;
}

.search-bar button {
  padding: 0 20px;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #6f8391;
  border: none;
  color: #e6e7e6;
  font-weight: 700;
  cursor: pointer;
}